<?xml version="1.0"?>

<model>
  <name>Planar Lidar</name>
  <version>1.0</version>
  <sdf version="1.6">planar_lidar.sdf</sdf>

  <author>
    <name>Pedro Arias-Perez</name>
    <email>pedro.ariasp@upm.es</email>
  </author>

  <description>
    Planar scanning two-dimension lidar with 30 meter range with limited fov
  </description>
</model>
