<?xml version="1.0"?>

<model>
  <name>Pole</name>
  <version>1.0</version>
  <sdf version="1.6">pole.sdf</sdf>

  <author>
    <name>Pedro Arias-Perez</name>
    <email>pedro.ariasp@upm.es</email>
  </author>

  <description>
    Just a cilynder 5 meters high and 0.25 meters radius
  </description>
</model>
