<?xml version="1.0"?>

<model>
  <name>Multi Ranger</name>
  <version>1.0</version>
  <sdf version="1.6">multi_ranger.sdf</sdf>

  <author>
    <name>Pedro Arias-Perez</name>
    <email>pedro.ariasp@upm.es</email>
  </author>

  <description>
    Laser ranging in 4 directions: front, back, left and right.
    Measures distance up to 4m within a few milimeters accuracy.
    Update frequency 20Hz. Inspired in Bitcraze Multi-ranger deck.
  </description>
</model>
